#fondo{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: white;

}
.rectangulo-1{

width: 465px;
height: 195px;
border-radius: 8px;
background-color: grey;
border:5px solid darkgrey;
position: relative;

}
.rectangulo-2{

width: 440px;
height: 170px;
background: black;
margin-bottom: 15px;
align-items: center;
margin-top: 10px;
margin-left: 10px;
}

.paneldireccion{
position: relative;
top: 1em;
width: 150px;
height: 150px;
}

.flecha {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 35px;
height: 30px;
background-color: black;
border: 4px solid white;
border-radius: 3px;

}

.farriba{ bottom: 4.5em;
border-bottom: thin black;
}

.fabajo { top: 4.5em;
border-top: thin black;}

.fizquierda { right: 4.5em;
border-right: thin black;}

.fderecha { left: 4.5em;
border-left: thin black;}

.medio{
position:absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 150px;
height: 150px;
z-index: 10;
border-radius: 5px;
border: thin solid red;
}

.franja{
  background-color: grey;
  width: 150px;
  height: 25px;
  position: absolute;
}

.funo{
top: 1em;
}
.fdos{
top: 3.5em;
}

.ftres{
top: 8.3em;
}
