#fondo{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
background-color: white;
margin-top: 10cm;
}


.mando {

display: flex;
justify-content: center;
align-items: center;
}
.rectangulo-1{

width: 490px;
height: 205px;
border-radius: 8px;
background-color: grey;
border:5px solid darkgrey;
position: relative;

}
.rectangulo-2{

width: 460px;
height: 185px;
background: black;
margin-bottom: 17px;
align-items: center;
margin-top: 10px;
margin-left: 15px;
}

.paneldireccion{
position: relative;
top: 1em;
width: 150px;
height: 150px;
}

.flecha {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 35px;
height: 30px;
background-color: black;
border: 4px solid white;
border-radius: 3px;

}

.farriba{ bottom: 4.5em;
border-bottom: thin black;
}

.fabajo { top: 4.5em;
border-top: thin black;}

.fizquierda { right: 4.5em;
border-right: thin black;}

.fderecha { left: 4.5em;
border-left: thin black;}

.medio{
position:absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 150px;
height: 150px;
z-index: 10;
border-radius: 5px;

}

.franja{
  background-color: grey;
  width: 150px;
  height: 25px;
  position: absolute;
}

.funo{
top: -1.2em;
height: 20px;
border-radius: 4px;

}
.fdos{
top: 0.8em;
border-radius: 4px;
}

.ftres{
top: 3.3em;
border-radius: 4px;
}


.fcuatro{
top: 6em;
height: 35px;
background-color: lightgrey;
border-radius: 6px;
}

.fcinco{
top: 9.3em;
height: 20px;
border-radius: 4px;


}

.LETRA{
position:relative;
font-size: 15px;
z-index: 15;
top: 3.8em;
color: black;
left: 5.5px;
}

.LETRA2{
position: absolute;
font-size: 15px;
z-index: 15;
top:3.8em;
color: black;
right:5.5px;

}

.circulo{
background-color: black;
top: 6.8em;
left: 15px;
height: 10px;
width: 35px;
border-radius: 10px;
}

.circulo2{
background-color: black;
top: 6.8em;
right: 20px;
height: 10px;
width: 35px;
border-radius: 10px;
}


.botones{
position: absolute;
height: 30px;
width: 30px;
background-color: red;
border: 4px solid white;
border-radius: 50%;
}


.boton1{
right: 45px;
bottom: 3em;
animation:  pulsar 2.5s infinite;
animation-duration: 1.7s;
}

.boton2{
bottom: 3em;
right: 115px;
}

.A{
position: absolute;
right: 60px;
font-size: 15px;
color: white;
}

@keyframes pulsar {
from {background-color: red;}
to {background-color: darkred;}
}


.B{
position: absolute;
right: 130px;

font-size: 15px;
color: white;
}
.NINTENDO{
position: absolute;
top: 50px;
right: 50px;
font-size: 15px;
color: white;

}

.pantalla1{
position: relative;
top: -5cm;
width: 490px;
height: 410px;
margin: 0 auto;
border-radius: 5px;
border: 8px  solid darkgrey;
background-color: grey;
}

.marcopantalla{
position: relative;
top: 0.3cm;
left: 0.2cm;
width: 475px;
height: 390px;
background-color: black;
  }

.IMAGEN{
position: relative;
top: -10.1cm;
left: 0.2cm;
width: 475px;
height: 393px;


  }
